@import '~react-leaflet-markercluster/dist/styles.min.css';

.single-marker-popup {
  font-size: 14px;
}

.popup-label {
  font-size: 16px;
  text-decoration: underline;
}

.popup-buttons button {
  margin: 2px;
}

.popup-hr {
  border-bottom: 5px solid #2B7A78;
  width: 100%;
}