@import '~react-leaflet-markercluster/dist/styles.min.css';

#Map {
  border-radius: 8px;
}

.mappityMap {
  box-shadow: 0px 5px 5px black;
  text-align: center;
  height: calc(99% - 70px);
  margin: 7px 7px 15px 7px;
  z-index: 0;
  border: 3px solid #FFFFFF;
}

.mappityMap:after {
  content: "";
  left: 2px;
  right: 2px;
  height: 10px;
  top: 0;
  left: 0;
  position: relative;
  z-index: -10;
  box-shadow: 0px -2px 5px black;
}

.map-container {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-image: none;
  background-color: #DEF2F1;
}

.input-label {
  font-size: 18px;
}

.modal-content {
  margin-top: 150px;
}

// Buttons at bottom of page
#basemap-buttons {
  z-index: 100000000000000000;
}

.btn-geolocate {
  z-index: 1000000000000000000;
}

.menu-items {
  height: 38px;
}

.menu-items-btn {
  padding: 15px;
}

// Color theme:
// #17252A
//    dark green/blue
// #2B7A78
//    medium teal
// #3AAFA9
//    teal
// #DEF2F1
//    light teal
// #FEFFFF
//    almost white

.bm-menu {
  background: #3AAFA9;
  z-index: 100000000000000000000;
}

@media screen and (max-width: 430px) {
.menu-items-btn {
  font-size: 10px;

}
span>.glyphicon-plus,
span>.glyphicon-th-list, {
  display: none;
}
}