.Map {
  height: 100%;
  width: 100%;
}

.mappityMap {
  box-shadow: 0px 4px 4px #666;
  text-align: center;
  height: 90%;
  margin: 7px 7px 15px 7px;
  z-index: 0;
}

.mappityMap:after {
  content: "";
  left: 2px;
  right: 2px;
  height: 10px;
  top: 0;
  left: 0;
  position: relative;
  z-index: -10;
  box-shadow: 0px -1px 4px #aaa;
}

.map-container {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-image: none;
  background-color: whitesmoke;
}

.input-label {
  font-size: 18px;
}

// Buttons at bottom of page
.menu-items {
  height: 38px;
}

.menu-items-btn {
  padding: 7px;
}