@font-face {
  font-family: "League Mono";
  src: url("../styles/fonts/otf/LeagueMono-Regular.otf");
}
@font-face {
  font-family: "League Mono Bold";
  src: url("../styles/fonts/otf/LeagueMono-Bold.otf");
}
@font-face {
  font-family: "League Mono Thin";
  src: url("../styles/fonts/otf/LeagueMono-Thin.otf");
}

// Color theme:
// #17252A
//    dark green/blue
// #2B7A78
//    medium teal
// #3AAFA9
//    teal
// #DEF2F1
//    light teal
// #FEFFFF
//    almost white

* {
  font-family: 'League Mono Thin';
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #DEF2F1;
}

.page-wrapper {
  height: 100%;
  z-index: 1;
  background-color: #DEF2F1;
}

.overall-container {
  height: calc(100% - 56px);
  z-index: 0;
  margin-bottom: 0;
}

.btn {
  color: #FEFFFF;
  background-color: #17252A;
  border: none;
  border-radius: 30px;
}
.btn:hover,
.btn:active,
.btn:active:focus,
.btn:focus,
.btn:link,
.btn:visited,
.btn:target {
  background-color:#2B7A78;
  outline: none;
}

#btn-add-pothole:hover,
#btn-my-location:hover {
  background-color:#DEF2F1;
  outline: none;
}

.glyphicon {
  padding-right: 10px;
}
