.dropdown-selector {
  padding: 5px;
}

.pothole-complete-record {
  margin: 25px;
  background-color: #FEFFFF;
  color: #17252A;
  border: 3px solid #17252A;
  border-radius: 8px;
  overflow: hidden;
}
hr {
  border-color: #2B7A78;
}

.pothole-record-btn {
  margin: 10px;
}
.street-view {
  margin-left: 15px;
}

.complete-pothole-attribute {
  font-size: 16px;
  text-decoration: underline;
}