.marker-icon-legend {
  max-height: 64px;
}

.inline {
  display: inline;
}

.red, .yellow, .orange, .purple {
  margin: 5px;
}

.red {
  margin-top: 15px;
}

#title-legend {
  border: none;
  margin-bottom: 25px;
}