html {
  height:100%;
}
body {
  background-color: #3AAFA9;
}

.landing-page-button {
  margin: 15px 0 10px 0;
}

.landing-page-input {
  margin: 10px 0 10px 0;
}

@media only screen and  (min-width: 700px) {
  body {
    background-position: 50% 85%;
    background-size: auto;
  }
}