.NavbarCollapse {
  z-index: 1000000;
}

.navbar {
  height: 55px;
  border-radius: 0 0 5px 5px;
  margin-bottom: 0;
}

#navbar-brand-text {
  font-size: 24px;
  color: white;
  padding: 0;
  margin: 5% 0 5% 25px;
}

.navbar-brand {
  padding: 5px 10px 5px 10px;
  margin: 0;
}

.navbar-brand img {
  max-height: 40px;
  max-width: 100%;
  padding: 0;
  margin: 0;
}